//out:false

.listbox .card-border {
  border-radius: 12px !important;
  .desc-style {
    display: block !important;
    line-clamp: unset !important;
    -webkit-line-clamp: unset !important;
    overflow: visible !important;
    text-overflow: clip !important;
  }
}
