// out : false

// 控制台的个人信息展示区的背景图
.bgImage {
  background-image: url('https://tse2-mm.cn.bing.net/th/id/OIP-C.ftmGMPmDJuT2yAO9bHKBUAHaLJ?w=203&h=306&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 80%;
}
