// out : false
.bglinear {
  background-image: url('https://tse2-mm.cn.bing.net/th/id/OIP-C.aN3zzu7Htvu2t8o2S_iOnwAAAA?w=270&h=158&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
}
