//out : false
@import '../../variables.less';

.bg-color {
  background-image: linear-gradient(
    to right bottom,
    #214833,
    #3e613f,
    #617b49,
    #899354,
    #b6ab62,
    #c8af60,
    #dbb35f,
    #f0b560,
    #eaa64c,
    #e49738,
    #df8723,
    #d97706
  );
}

.icon-dujia ::after {
  font-size: 100px;
  color: #e49738;
}
